<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category  Symmetrics
 * @package   Symmetrics_Buyerprotect
 * @author    symmetrics - a CGI Group brand <info@symmetrics.de>
 * @copyright 2010-2015 symmetrics - a CGI Group brand
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://github.com/symmetrics/trustedshops_buyerprotection/
 * @link      https://github.com/symmetrics/trustedshops_buyerprotection/
 * @link      http://www.symmetrics.de/
 * @link      http://www.de.cgi.com/
 */
-->
<config>
    <sections>
        <trustedrating translate="label" module="buyerprotect">
            <groups>
                <buyerprotect translate="label">
                    <label>Trusted Shops Buyer Protection Excellence</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <active translate="label">
                            <label>Activate Trusted Shops Buyer Protection Excellence</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <config_path>buyerprotection/data/active</config_path>
                        </active>
                        <trustedshops_user translate="label">
                            <label>Trusted Shops Username</label>
                            <comment>Only required for Buyer Protection Excellence.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <config_path>buyerprotection/data/trustedshops_user</config_path>
                        </trustedshops_user>
                        <trustedshops_password translate="label">
                            <label>Trusted Shops Password</label>
                            <comment>Only required for Buyer Protection Excellence.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <config_path>buyerprotection/data/trustedshops_password</config_path>
                        </trustedshops_password>
                        <trustedshops_url translate="label">
                            <label>Buyer Protection mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>buyerprotect/system_config_source_wsdl</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <config_path>buyerprotection/data/trustedshops_url</config_path>
                        </trustedshops_url>
                    </fields>
                </buyerprotect>
            </groups>
        </trustedrating>
    </sections>
</config>